*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}
.navbar {
	justify-content: space-between;
	padding: 30px 50px;
	align-items: center;
}
.navbar .navbar-left .navbar-items {
	margin-left: 100px;
}
.navbar .navbar-left .navbar-items .navbar-item{
	padding: 0px 20px;
	list-style: none;
}
.navbar .navbar-left .navbar-items .navbar-item a {
	color: #7d7d7d;
	text-decoration: none;
}